
{% extends 'tasks/base.html' %}
{% block content %}
<div class="task-mainbox">
    <h1>TASKS</h1>
<a href="{% url 'task-create' %}" class="btn btn-primary">
    <i class="bi bi-plus"></i> Add Task
</a>
<ul class="list-group mt-4">

    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class = "task-id">
            <a href="{% url 'task-detail' task.id %}" class="btn btn-sm btn-success taskid">
                ID: {{ task.id }}
            </a>
            <a href="{% url 'task-detail' task.id %}" class="task-title">{{ task.title }}</a>
        </div>
         <div>
            <span class="badge {% if task.status == 'completed' %}bg-success{% elif task.status == 'started' %}bg-info{% else %}bg-warning{% endif %}">
                {{ task.get_status_display }}
            </span>
            <a href="{% url 'task-update' task.id %}" class="btn btn-sm btn-warning">
                <i class="bi bi-pencil"></i> Edit
            </a>

            <form action="{% url 'task-delete' task.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
{% endblock %}
